* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .link {
        text-decoration: none;
        color: black;
        cursor: pointer;
    }
    button{
        border: none;
    }
    .underline{
        text-decoration: underline;
    }
    ul {
        list-style: none;
    }
    .info-error {
        background-color: #ffbaba;
        border-left: 5px solid #ff0000;
    }
    .info-success {
        background-color: #b2ffb2;
        border-left: 5px solid #00ff00;
    }
}
