* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .link {
        text-decoration: none;
        color: black;
    }

    ul {
        list-style: none;
    }
    .info-error {
        color: white;
        background-color: red;
    }
    .info-success {
        color: white;
        background-color: green;
    }
}
